<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'owners')}">

<body>

  <h2>
    <th:block th:if="${visit['new']}">New </th:block>
    Visit
  </h2>

  <b>Pet</b>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Type</th>
        <th>Owner</th>
      </tr>
    </thead>
    <tr>
      <td th:text="${pet.name}"></td>
      <td
        th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd')}"></td>
      <td th:text="${pet.type}"></td>
      <td
        th:text="${pet.owner?.firstName + ' ' + pet.owner?.lastName}"></td>
    </tr>
  </table>

  <form th:object="${visit}" class="form-horizontal" method="post">
    <div class="form-group has-feedback">
      <input
        th:replace="~{fragments/inputField :: input ('Date', 'date', 'date')}"  />
      <input
        th:replace="~{fragments/inputField :: input ('Description', 'description', 'text')}" />
      <input hidden type="text" name="active" value="true">

      <label for="vet">Vet</label>
      <select type="text" name="vetId" id="vet" autocomplete="off" required>
      </select>

    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="hidden" name="petId" th:value="${pet.id}" />
        <button class="btn btn-default" type="submit">Add Visit</button>
      </div>
    </div>
  </form>

  <br />
  <b>Previous Visits</b>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Description</th>
    </tr>
    <tr th:if="${!visit['new']}" th:each="visit : ${pet.visits}">
      <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
      <td th:text=" ${visit.description}"></td>
    </tr>
  </table>

<!--  <script th:src="@{/templates/pets/js/selectVets.js}"></script>-->
  <script>

       async function getVet() {
      let response = await fetch('http://localhost:8003/vets', {
          method: 'get',
      });

      let vetsResponse = await response.json();
           console.log(vetsResponse);
           console.log(vetsResponse.vetList[0]);
           // id.value = result.id;
       //    let model = vetsResponse.map(item => item.vets.vetList.firstName);
         //  console.log(model);

           let vets = document.getElementById('vet');
           vets.textContent = '';

           let option = document.createElement("option");
           option.text = 'Выберите значение';
           option.value = "";
           option.selected = true;
           option.disabled = true;
           option.hidden = true;
           vets.appendChild(option);
           for (let i = 0; i < vetsResponse.vetList.length; i++) {
               let option = document.createElement("option");
               option.value = vetsResponse.vetList[i].id;
               option.text = vetsResponse.vetList[i].lastName;
               vets.appendChild(option);
           }
  }
   getVet();
  </script>
</body>
</html>
